{% include 'header.html' %}
<h1>Suggest a Place</h1>

<form method="POST" action="{{ url_for('add') }}" >
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="url" placeholder="URL Map">
    <input type="text" name="img_url" placeholder="URL Img">
    <input type="text" name="location" placeholder="Location">
    <fieldset>
        <legend>Please select the following options</legend>
        <div>
            <select name="sockets" id="sockets" required>
                <option value="">-- Has Sockets --
                </option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>

            <select name="toilets" id="toilets" required>
                <option value="">-- Has Toilets --
                </option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>

            <select name="wifi" id="wifi" required>
                <option value="">-- Has Wifi --
                </option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>

            <select name="calls" id="calls" required>
                <option value="">-- Can make calls --
                </option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
        </div>
    </fieldset>
    <input type="text" placeholder="How many seats">
    <input type="text" placeholder="Coffe Price">
    <button type="submit" >Save</button>
</form>