<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== REMIXICONS ===============-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="assets/css/styles.css">

      <title>Responsive navbar - Bedimcode</title>
   </head>
   <body>
      <!--==================== HEADER ====================-->
      <header class="header" id="header">
          <nav class="nav container">
        <a href="#" class="nav__logo">C&W</a>
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#" class="nav__link">
                        <span></span>
                    </a>
                </li>

                  <li class="nav__item">
                    <a href="#" class="nav__link">
                        <img src="./static/svg/arrow-right-up-line.svg" width="24" height="24">
                        <span>Home</span>
                    </a>
                </li>

                  <li class="nav__item">
                    <a href="#" class="nav__link">
                        <img src="./static/svg/arrow-right-up-line.svg" width="24" height="24">
                        <span>View All</span>
                    </a>
                </li>

                  <li class="nav__item">
                    <a href="#" class="nav__link">
                        <img src="./static/svg/arrow-right-up-line.svg" width="24" height="24">
                        <span>Add Place</span>
                    </a>
                </li>
            </ul>

<!--            Close Button-->
            <div class="nav__close" id="nav-close">
                <img src="./static/svg/close-large-fill.svg" width="24" height="24">
            </div>
            <div class="nav__social">
                <a href="https://www.facebook.com/" target="_blank" class="nav__social-link">
                    <img src="./static/svg/facebook-fill.svg" width="24" height="24">
                </a>
                <a href="https://github.com/" target="_blank" class="nav__social-link">
                    <img src="./static/svg/github-fill.svg" width="24" height="24">
                </a>
                <a href="https://www.linkedin.com/" target="_blank" class="nav__social-link">
                    <img src="./static/svg/linkedin-fill.svg" width="24" height="24">
                </a>
            </div>
        </div>
        <div class="nav__toggle" id="nav-toggle">
            <img src="./static/svg/menu-2-line.svg" width="24" height="24">
        </div>
    </nav>
      </header>

      <!--==================== MAIN ====================-->
      <main>
         <!-- Insert page sections -->
      </main>

      <!--=============== MAIN JS ===============-->
      <script src="assets/js/main.js"></script>
   </body>
</html>