{% include 'header.html' %}

<div class="container">
    <div class="title">
        <h1>Find your Best Place for Co-Work</h1>
        <h3>Recomendation of the Day: {{ cafe }}</h3>
    </div>
</div>


<h1 align="center"> Please feel free of contact me: </h1>
<div class="container">
    <form method="POST" action="">
        <input type="text" name="name" placeholder="Name">
        <input type="email" name="email" placeholder="Email">
        <button type="submit">Send</button>
    </form>
</div>












